@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lora:ital,wght@0,400..700;1,400..700&family=Mitr:wght@200;300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Akira;
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
  src: url("/fonts/akira-expanded.otf") format("opentype");
}

:root {
  --neon: #39ff14;

  --neon-from: #adff2f;
  --neon-via: #39ff14;
  --neon-to: #00ff00;

  --dark: #0a0a0a;
  --light: #575757;
  --card: #980a0a;
  --bg: #000000;
  --fg: #dedede;

  --font-base: "Montserrat", sans-serif;
  /* --font-display: "Akira", sans-serif; */
  --font-display: "Bebas+Neue", sans-serif;
}

/* Example global styles */
html,
body {
  @apply font-base bg-bg text-fg overflow-x-hidden;
}

/* If you want a subtle starfield or abstract pattern in the background:
   You can place a background image or gradient here. */
body {
  background: radial-gradient(circle at 50% 50%, #0f0f0f 0%, #000 100%);
}

* {
  @apply leading-[150%];
}

h1,
h2,
h3,
h4,
h5 {
  @apply font-display text-white;
}

h1,
h2 {
  @apply font-semibold;
}

h1,
.h1 {
  @apply text-[14.5vw] md:text-[7vw] lg:text-[5.5vw] leading-[100%];
}

h2,
.h2 {
  @apply text-[9vw] md:text-[5.5vw] lg:text-[3.75vw] leading-[120%];
}

h3 {
  @apply text-[6vw] md:text-[3vw] lg:text-[2vw];
}

h4 {
  @apply text-[6vw] md:text-[3vw] lg:text-[1.5vw] font-semibold;
}

.card-title {
  @apply text-[6vw] md:text-[3vw] lg:text-[1.8vw] font-semibold;
}

.icon-text {
  @apply text-[5vw] md:text-[2.25vw] lg:text-[1.5vw];
}

p,
a,
button,
input,
.p,
div {
  @apply font-base text-[4vw] md:text-[1.8vw] lg:text-[1vw] leading-[150%] font-medium text-fg;
}

.mobile-nav-link {
  @apply text-[7vw] md:text-[4vw] lg:text-[2vw];
}

.sm {
  @apply font-base text-[3vw] md:text-[1.4vw] lg:text-[0.7vw] leading-[150%];
}

.container-x,
.container {
  @apply px-[1.5em] md:px-[4em] lg:px-[6em];
}

.container-y,
.container {
  @apply py-[5em];
}

.flex-center {
  @apply flex justify-center items-center gap-2;
}

.flex-v-center {
  @apply flex items-center gap-2;
}

.flex-between {
  @apply flex justify-between items-center gap-2;
}

.max-w-text {
  @apply md:max-w-[70vw] lg:max-w-[60vw];
}

.grid-3 {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 w-full items-stretch;
}

.show-md {
  @apply hidden md:flex;
}

.show-lg {
  @apply hidden lg:flex;
}

.show-xl {
  @apply hidden xl:flex;
}

.hide-md {
  @apply md:hidden;
}

.hide-lg {
  @apply lg:hidden;
}

.hide-xl {
  @apply xl:hidden;
}

.transform-700 {
  @apply transform duration-700;
}

.btn-1,
.btn-2 {
  @apply py-2 px-5 border font-medium rounded uppercase;
}

.btn-1 {
  @apply text-neon border-neon;
}

.btn-2 {
  @apply text-black font-semibold border-neon;
}

.clip-bg {
  @apply absolute translate-y-[-50%] translate-x-[-50%] top-[200px] left-[50%] w-[400px] h-[400px] rounded-full scale-0;
}

/* ! CARDS */
