.noise {
  position: relative;
}
.noise:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: url("https://assets.codepen.io/16327/noise.png");
  background-attachment: fixed;
  opacity: 0.4;
  pointer-events: none;
}

/* ! COLORS AND GRADIENTS */
.text-gradient {
  background: var(--neon-to);
  background: linear-gradient(-90deg, var(--neon-from) 0%, var(--neon-to) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    var(--neon-from) 0%,
    var(--neon-to) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.card-gradient {
  background: var(--accent);
  background: linear-gradient(90.13deg, var(--brand) 1.9%, var(--card) 97.5%);
  background: -webkit-linear-gradient(
    -90.13deg,
    var(--brand) 1.9%,
    var(--card) 97.5%
  );
}

.dark-gradient-card {
  background: var(--dark);
  background: linear-gradient(
    90.13deg,
    var(--dark-50) 1.9%,
    var(--dark-2-50) 97.5%
  );
  background: -webkit-linear-gradient(
    -90.13deg,
    var(--dark-50) 1.9%,
    var(--dark-2-50) 97.5%
  );
  /* @apply backdrop-filter backdrop-blur-lg; */
}
